
body{
    
}

#banner {
    width: 100%;
}

.principal {
    background: #CCCCCC;
    padding: 30px;
}
.titulo-principal{
    padding-left: 20px;
}

.titulo-centralizado{
    text-align: center;
}

p {
    text-align: center ;
}

#missao {
    font-size: 20px;
}

/* vai procurar so os strongs que estão dentro do em*/
em strong {
    color: red;
}

.itens {
    font-style: italic;
}

.beneficios {
    margin-top: 20px;
}



.diferenciais {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
    margin-left: 30px;
}

.imagembeneficios{
    padding-bottom:20px ;
    width: 50%;
}
